<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paso1</title>
</head>
<body>
    <form method="post" th:action="@{/seguros/calculos/cotizacion/paso2}" th:object="${cotizacionSeguro}" >
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" th:field="*{nombre}">
        <label>Edad</label>
        <input type="text" th:field="*{edad}">
        <label>Antigüedad carnet</label>
        <input type="text" th:field="*{aniosCarnet}">
        <button>Enviar</button>
    </form>
</body>
</html>